@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-list {
    margin: 0 -5px;
  }
  
  .slick-slide > div {
    padding: 0 5px;
  }
  .custom-focus-input:focus, 
  div .custom-focus-input:focus {
    border-color: red !important;
  }